rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Only authenticated users can write/delete
      // Anyone can read
      allow read: if true;
      allow write, update, delete: if request.auth != null;
    }
  }
}
